{% extends "layout.html" %}

{% block heading%}
<h1>Welcome to DigitalX20 security consult</h1>
{%endblock%}

{% block body %}
<p> Pellentesque hendrerit, sem congue scelerisque dictum, nulla lacus hendrerit turpis, non condimentum nibh dolor ac orci. Donec finibus diam vel risus convallis maximus. Donec ex mi, rhoncus nec orci eget, tristique malesuada arcu. Nulla justo orci, vestibulum quis tortor at, venenatis gravida velit. Quisque at metus semper, sagittis neque vitae, mattis eros. Morbi a faucibus ligula. Praesent feugiat odio consectetur lectus gravida, ut suscipit felis efficitur. Ut neque justo, vestibulum et metus sed, faucibus mattis erat. Nulla eu semper ex, ut commodo dui. Morbi auctor quam vel lorem vestibulum tincidunt. Etiam iaculis placerat lorem at aliquam. Aliquam egestas venenatis felis porttitor maximus. Praesent auctor erat in ante porta, at vehicula diam interdum. </p>
{% endblock %}
